## Deliverable 3. Create a Travel Itinerary Map.

In [28]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [31]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
#vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Ancud,CL,61.00,broken clouds,-41.87,-73.82,Hotel Arena Gruesa
1,1,Busselton,AU,67.87,clear sky,-33.65,115.33,Observatory Guest House
2,5,Port Alfred,ZA,69.01,scattered clouds,-33.59,26.89,The Halyards Hotel
3,9,Ribeira Grande,PT,60.80,scattered clouds,38.52,-28.70,Quinta da Meia Eira
4,11,Hambantota,LK,77.79,scattered clouds,6.12,81.12,Bungalow 63

In [32]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [33]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations,info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [35]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Cape Town"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Cape Town"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "East London"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Port Elizabeth"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Kruisfontein"]

In [37]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
#start = vacation_start[["Lat","Lng"]].to_numpy()
start = [vacation_start.to_numpy()[0][5], vacation_start.to_numpy()[0][6]]
end = [vacation_end.to_numpy()[0][5], vacation_end.to_numpy()[0][6]]
stop1 = [vacation_stop1.to_numpy()[0][5], vacation_stop1.to_numpy()[0][6]]
stop2 = [vacation_stop2.to_numpy()[0][5], vacation_stop2.to_numpy()[0][6]]
stop3 = [vacation_stop3.to_numpy()[0][5], vacation_stop3.to_numpy()[0][6]]
start

[-33.93, 18.42]

In [46]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig2 = gmaps.figure()
vacation_route = gmaps.directions_layer(start=start,waypoints=(stop1, stop2, stop3), end=end, travel_mode="DRIVING")
fig2.add_layer(vacation_route)
fig2

Figure(layout=FigureLayout(height='420px'))

In [39]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,28,Cape Town,ZA,71.60,clear sky,-33.93,18.42,Southern Sun Waterfront Cape Town
1,110,East London,ZA,69.80,few clouds,-33.02,27.91,Tu Casa
2,171,Port Elizabeth,ZA,69.80,clear sky,-33.92,25.57,39 On Nile Guest House
3,195,Kruisfontein,ZA,69.01,clear sky,-34.00,24.73,Oyster Bay House Rental

In [42]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [52]:
# 11a. Add a marker layer for each city to the map.
fig3 = gmaps.figure()
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig3.add_layer(marker_layer)

# 11b. Display the figure
fig3

Figure(layout=FigureLayout(height='420px'))